[Unit]
Description=Koerier LNURL bridge
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
ExecStart=/usr/local/bin/koerier --config /etc/koerier/config.toml
LoadCredential=odin.cert:/srv/mutinynet/odin/tls.cert
LoadCredential=odin.macaroon:/srv/mutinynet/odin/data/chain/bitcoin/signet/invoice.macaroon
LoadCredential=thor.cert:/srv/mutinynet/thor/tls.cert
LoadCredential=thor.macaroon:/srv/mutinynet/thor/data/chain/bitcoin/signet/invoice.macaroon
LoadCredential=freya.cert:/srv/mutinynet/freya/tls.cert
LoadCredential=freya.macaroon:/srv/mutinynet/freya/data/chain/bitcoin/signet/invoice.macaroon
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
UMask=0077

[Install]
WantedBy=multi-user.target
